.header {
    background-color: #ba251a;  
    justify-content: center;
    height: 10%;
    background-image: url(https://i.pinimg.com/600x315/b7/8d/e5/b78de50ead1fe734e86da657e6ef804a.jpg);
}

img {
    height: 3rem;
}

h1 {
    color: antiquewhite;
    font-size: 1.7rem;
    padding-left: 1rem;
    font-family: "MedievalRPG" !important;
}

span {
    display: flex;
    align-items: center;
}