.container {
    height: 85%;
    background-color: #2f2f2f;
}

i {
   padding-right: 1rem;
   color: antiquewhite
}

.mat-list-item {
    font-family: "MedievalRPG";
    color: antiquewhite;
    font-size: 1.5rem;
}

mat-sidenav {
    width: 15%;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3f6f528b-9c63-4fe8-9626-aafa748edaf5/db35qhj-ea72c51d-b0b7-4555-ac33-3592a554fb77.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNmNmY1MjhiLTljNjMtNGZlOC05NjI2LWFhZmE3NDhlZGFmNVwvZGIzNXFoai1lYTcyYzUxZC1iMGI3LTQ1NTUtYWMzMy0zNTkyYTU1NGZiNzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FXmPg69vrUhcpq8zX3h-fARN_nLr_YcISecjZgjPppI);
}
