<div class="content">
    <div class="title">
        <img src="https://i.pinimg.com/originals/6e/e1/84/6ee18457d9b5fad39ba48a28dfe7e860.png" alt="">
        <h1>Jobs</h1>
        <img src="https://i.pinimg.com/originals/2b/a3/e4/2ba3e4b905ef6f95b5c00a3c95183181.png" alt="">
    </div>
    
    <button (click)="navigateToJobCreate()" mat-stroked-button color="primary">New Job</button>

    <div class="mat-elevation-z8 content-table">
      <table mat-table [dataSource]="jobs" class="table" >

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let row"> {{row.jobName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="combatType">
          <th mat-header-cell *matHeaderCellDef> COMBAT TYPE </th>
          <td mat-cell *matCellDef="let row"> 
            {{row.combatType}} 
            <i *ngIf="row.combatType == 'RANGED'"  class="material-icons"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19.03 6.03L20 7L22 2L17 4L17.97 4.97L16.15 6.79C10.87 2.16 3.3 3.94 2.97 4L2 4.26L2.5 6.2L3.29 6L10.12 12.82L6.94 16H5L2 19L4 20L5 22L8 19V17.06L11.18 13.88L18 20.71L17.81 21.5L19.74 22L20 21.03C20.06 20.7 21.84 13.13 17.21 7.85L19.03 6.03M4.5 5.78C6.55 5.5 11.28 5.28 14.73 8.21L10.82 12.12L4.5 5.78M18.22 19.5L11.88 13.18L15.79 9.27C18.72 12.72 18.5 17.45 18.22 19.5Z" />
          </svg></i>
            <i *ngIf="row.combatType == 'MELEE'" class="material-icons"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M6.92,5H5L14,14L15,13.06M19.96,19.12L19.12,19.96C18.73,20.35 18.1,20.35 17.71,19.96L14.59,16.84L11.91,19.5L10.5,18.09L11.92,16.67L3,7.75V3H7.75L16.67,11.92L18.09,10.5L19.5,11.91L16.83,14.58L19.95,17.7C20.35,18.1 20.35,18.73 19.96,19.12Z" />
          </svg></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="mat-header" mat-header-cell *matHeaderCellDef> ACTIONS </th>
          <td mat-cell *matCellDef="let row">
            <a class="edit" href="#">
              <i class="material-icons">
                edit
              </i>
            </a>
            <a class="delete" href="#">
              <i class="material-icons">
                delete
              </i>
            </a>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

    

</div>
