<form>
    <h1>Deleting Race</h1>
    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="race.raceName" name="raceName" disabled>
    </mat-form-field>

    <mat-form-field class="input">
        <mat-label>HP Dice</mat-label>
        <input matInput type="text" [(ngModel)]="race.hpDice" name="hpDice" disabled>
    </mat-form-field>


    <div class="buttons">
        <button (click)="delete()" mat-stroked-button color="primary">Confirm</button>
        <button (click)="cancel()" class="cancel" mat-stroked-button color="primary">Cancel</button>
    </div>

    <div class="images">
        <img src="assets/img/races/race-delete1.png" alt="">
        <img src="assets/img/races/race-delete2.png" alt="">
    </div>
</form>
