form {
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}

h1 {
    font-family: "MedievalRPG";
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: antiquewhite;
}

mat-option, mat-select {
    font-family: "MedievalRPG"; 
    color: antiquewhite;
}

.form {
    font-family: "MedievalRPG";
    margin-right: 2rem;
    width: 70%;
}

.input {
    font-family: "MedievalRPG";
}

button {
    margin-right: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: "MedievalRPG";
    color: green !important;
}

.buttons {
    width: 100%;
    text-align: start;
}

.selection {
    font-family: "MedievalRPG";
}

.cancel {
    color: rgb(168, 32, 32) !important;
}

.images {
    margin-top: 5rem;
    width: 100%;
}

